<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for shopping with <a href="http://localhost:3000">Jungle</a></h1>
    <p>You have successfully placed your order.</p>
    <br />
    <p><em>Order ID:</em><%= @order.id %></p>
    <p><em>Order total:</em><%= @total %></p>
    <br />
    <p>Thanks for shopping with us!</p>
  </body>
</html>