.reviews-history {
  .reviews-table {
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
    float: none;
  }
  .remove {
    border-left: none;
    text-align: center;
  }
  .fa-times {
    color: red;
  }
  .no-border-right {
    border-right: none;
  }

  .fa-times {
    color: red;
  }
}