<tr>
  <td>
    <% if User.exists?(review.user_id) %>
      <%= User.find(review.user_id).first_name %>
    <% else %>
      ?
    <% end %>
  </td>
  <td>
    <% (1..review.rating).each do |i| %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <% if review.has_description? %>
      <%= review.description %>
    <% else %>
    <i>No description</i>
    <% end %>
  </td>
  <td class="no-border-right">
    <%= time_ago_in_words(review.created_at) %> ago
  </td>
  <% if current_user && has_reviewed?(review.product_id, current_user.id) %>
    <td class="remove">
      <% if current_user.id == review.user_id %>
        <%= link_to product_review_path(review.product_id, review.id), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>