<tr>
  <td>
    <% (1..review.rating).each do |i| %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <%= review.description %>
  </td>
  <td>
    <%= time_ago_in_words(review.created_at) %> ago
  </td>
</tr>